:root {
    --pinkColor: #FB4789;
    --darkColor: #3A3768;
    --lightColor: #F3F1F1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--lightColor);
}

a {
    text-decoration: none;
    color: black;
}

p {
    padding: 20px;
    line-height: 1.5em;
}

p::selection {
    background: var(--pinkColor);
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1::selection {
    background: var(--pinkColor);
}

h2 {
    font-size: 1.6rem;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}

h2::selection {
    background: var(--pinkColor);
}

h3 {
    font-size: 1.4em;
}

h3::selection {
    background: var(--pinkColor);
}

h4 {
    font-size: 1.2em;
}

h4::selection {
    background: var(--pinkColor);
}



/* Navigation */
.arrow {
    position: fixed;
    bottom: 10px;
    right: 5px;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 99;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .toggle {
    color: var(--darkColor);
    padding-left: 20px;
    padding-top: 20px;
}

.navigation a {
    color: var(--darkColor);
    font-size: 18px;
}

.modeselector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.modeselector span {
    font-size: 14px;
    color: var(--darkColor);
    margin: 3px;
}

.modeselector .theme-dot {
    height: 25px;
    width: 25px;
    border: 2px solid var(--darkColor);
    border-radius: 50px;
    margin: 3px;
}

.modeselector .theme-dot:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

.modeselector .theme-dot.light {
    background-color: var(--lightColor);
    height: 30px;
    width: 30px;
}


.modeselector .theme-dot.dark {
    background-color: var(--darkColor);
}

.side-menu {
    background-color: var(--pinkColor);
    height: 360px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-radius: 0  0 360px 0;
}

.side-menu a {
    color: var(--lightColor);
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.side-menu .subcat li a {
    color: var(--lightColor);
    display: block;
    font-size: 14px;
    text-indent: 20px;
    line-height: 0.8em;
    text-transform: capitalize;
}

/* Main */
main {
    max-width: 340px;
    margin: 0 auto;
}

#summary {
    background-color: white;
    border-radius: 20px;
}

#chapters {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}

#chapters img {
    width: 100px;
    height: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#chapters h2 {
    padding: 20px 0;
}

#chapters .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#chapters .card {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

#chapters .card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

#chapters .card h3 {
    margin-top: 30%;
}

#chapters .card h4 {
    padding: 10px;
    font-weight: normal;
}

#author {
    background-color: var(--pinkColor);
    border-radius: 20px;
    color: var(--lightColor);
}

#author h2::selection {
    background: var(--darkColor);
}

#author p::selection {
    background: var(--darkColor);
}

#author .image {
    text-align: center;
}

#author .image img {
    height: 200px;
    width: 200px;
    background-color: var(--lightColor);
    border-radius: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-image {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}


/* Footer */
footer {
    margin-top: 120px;
    width: 100%;
    background-color: var(--darkColor);
}

footer .social-icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer i {
    color: var(--lightColor);
    padding: 10px;
}

footer i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

#contact form {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

#contact form h3 {
    color: var(--lightColor)
}
  
#contact input, #contact textarea {
    width: 80%;
    margin: 10px auto;
    border: 1px solid var(--darkColor);
    border-radius: 20px;
    padding: 10px;
}
  
#contact textarea {
    max-width: 100%;
    height: 150px;
}

#contact .button {
    margin: 10px auto;
    background-color: var(--pinkColor);
    color: var(--lightColor);
    border: 1px solid var(--lightColor);
    border-radius: 20px;
    padding: 5px 20px;
    display: block;
}

#contact .button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

.copyright {
    margin-top: 20px;
    color: var(--lightColor);
    font-size: 0.8rem;
    text-align: center;
}

/* Inner pages */

.chapters p {
    text-indent: 20px;
    text-align: justify;
}

.wrapper {
    max-width: 90%;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}

.navbuttons {
    text-align: center;
    margin-top: 40px;
}

.navbuttons a i {
    color: var(--darkColor);
    padding: 20px;
    margin: 10px;
}

.navbuttons a i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

@media screen and (min-width: 620px) {
    .modeselector {
        margin-right: 40px;
    }

    main {
        max-width: 600px;
    }

    .flex-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .image {
        flex: 1;
    }
    
    #summary {
        flex: 2;
    }


    .about .image {
        flex: 1;
    }
    
    .about p {
        flex: 2;
    }


    .title img {
        width: 300px;
    }

    #chapters img {
        right: 20%;
    }

    .bottom-image img {
        height: 50%;
        width: 50%;
    }


}

@media screen and (min-width: 960px) {
    main {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    
    main {
        max-width: 80%;
    }
}